<div class="center hero-unit">
  <h1>みんなの新聞へようこそ</h1>

  <h2>
    新聞社が新聞を作るのではなく、ユーザ自身が記事を書き「みんな新聞を作っていくサイト」です。
  </h2>

	<p>  	
	  <%= link_to "新聞を読む", newspaper_path, class: "btn btn-large btn-info" %>
  </p>

  <p>
  	ユーザ登録することで記事を作成することができます。
	  <%= link_to "ユーザ登録", signup_path, class: "btn btn-large btn-success" %>
  <p>
</div>