<% provide(:title, "新聞") %>
<h1>新聞</h1>



<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
  <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
  <li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">home


  </div>
  <div class="tab-pane" id="profile">profile</div>
  <div class="tab-pane" id="messages">message</div>
  <div class="tab-pane" id="settings">setting</div>
</div>

<script>
  $(function () {
    $('#myTab a:first').tab('show')
  })
</script>