<% provide(:title, 'ユーザアカウント登録') %>
<h1>ユーザアカウント登録</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for @user do |f| %>
      <%= render 'fields', f: f %>
			<%= f.submit "アカウントを作成する", class: "btn btn-large btn-success" %>
		<% end %>
		<p><%= link_to "ログイン？", login_path %></p>
	</div><!-- /.span6 .offset3 -->
</div><!-- /.row -->