@import "bootstrap";
@import "bootstrap-responsive";

/***************************************
  ミックスインや変数など
****************************************/
$lightGray: #999;
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/***************************************
	全体
****************************************/
html {
  overflow-y: scroll;
}

@media screen and (min-width: 979px) {
  body {
    padding-top: 60px;
  }
}

body {
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro";
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/***************************************
	タイポグラフィ
****************************************/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/***************************************
	ヘッダー
****************************************/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/***************************************
  サイドバー
****************************************/
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.avatar {
  float: left;
  margin-right: 10px;
}


/***************************************
  コンテンツ
****************************************/
/* フォーム */
form {
  img {
    border-radius: 5px;
  }

  textarea, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    @include box_sizing;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  select {
    height: 38px !important;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    @include box_sizing;
  }
  input[type=file] {
    margin-top: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    line-height: 0px;
    width: 96%;
    padding: 10px 10px 0px 10px;
  }
  input[type=submit] {
    margin-top: 30px;
    height: auto !important;
  }
}

/* エラーメッセージ */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* ユーザ一覧 */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* 記事一覧 */

.newspaper_top {
  h1,
  h2 {
    margin: 0px;
  }
}

.articles {
  list-style: none;
  margin: 10px 0 0 0;

  .picture {
    float: left;
    margin-left: 0px;
    padding: 15px 15px 10px 0px;
    img {
      border-radius: 5px;
    }
  }

  li {
    float: clear;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .title {
    display: block;
    font-size: 120%;
  }
  .content {
    display: block;
    font-size: 90%;
  }
  .timestamp {
    color: $grayLight;
  }
}

/* ログイントップ */
#login_info {
  font-size: 13px;
  padding: 10px;
  border: 1px dashed #181818;
  font-weight: normal;
  background: #fffcd6;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* カテゴリ一覧 */
.categories {
  .category {
    p {
      width: 50%;
      font-size: 120%;
      margin-top: 10px;
      margin-bottom: -5px;
      padding-top: 5px;
      border-top: 1px solid #eaeaea;
    }
    em {
      color: #777;
      font-style: normal;
    }
    em a {
      font-style: normal;
    }
  }
}

/* 新聞画面 */
.article_views {
  padding: 0 20px;
  margin-bottom: 14px;
  width: 100px;
  font-weight: normal;
  color: #444;
  font-size: 12px;
  background-color: #fafafa;  
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  .view {
    padding-left: 5px;
  }
}

.tab-content {
  background-color: #fafafa;
  border: 1px solid #d1d1d1;
  border-radius: 5px;

  .tab-pane {

    #newspaper-list {
      padding: 10px 0px;

      ul {
        list-style: none;

        li {
          border-bottom: 1px solid #d1d1d1;
          margin-right: 15px;
        }
      }
    }
    
    #masonry-container {
      padding: 10px;

      .box {
        background:#FFF;
        margin: 10px;
        padding: 10px;
        border-radius: 0px !important;

        .title {
          margin-top: 5px;
          padding: 5px;
          font-size: 120%;
        }
      }
      .effect {
        -webkit-box-shadow: 1px 1px 1px 1px #777;
           -moz-box-shadow: 1px 1px 1px 1px #777;
                box-shadow: 1px 1px 1px 1px #777;
      }
      .col1 { width: 80px; }
      .col2 { width: 180px; }
      .col3 { width: 280px; }
      .col4 { width: 380px; }
      .col5 { width: 480px; }

      .col1 img,
      .col2 img {
        max-width: 120px;
      }

      .col3 img,
      .col4 img,
      .col5 img {
        max-width: 120px;
        float: left;
        margin: 0 10px 10px 0;
        border-radius: 5px;
      }
    }
  }
}


/***************************************
	フッター
****************************************/
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/***************************************
  その他
****************************************/
/* デバッグ表示 */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}