<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "みんなの新聞", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "ユーザ登録", '#' %></li>
          <li><%= link_to "ログイン",   '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
